<div *ngif="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{profile.name}}<small>{{profile.login}}</small>
            <span *ngif="profile.company">works at{{profile.company}}</span> {{profile.location}}
        </div>
        <div clas="panel-body">
            <div class="row">
                <div class=col-sm-3>
                    <img src="" class="img-circle img-responsive" alt="profile image">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngif=profile.bi0>{{profile.bi0}}</li>
                        <li class="list-group-item" *ngif=profile.hireable>{{available for hire}}</li>
                        <li class="list-group-item" *ngif=profile.blog>
                            <a href="{{profile.blog}}" target="blank"></a>{{profile.blog}}</li>
                        <li class="list-group-item" *ngif=profile.email>
                            <a href="emailto:{profile.email}}"></a>{{profile.email}}</li>
                    </ul>

                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-default">{{profile.followers}} Followers</span>
                            <span class="label label-primary">Following {{profile.following}}</span>
                            <span class="label label-success">{{profile.public-gists}} public gists</span>
                            <span class="label label-infot">{{profile.public-repos}} public repos</span>

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>